{% extends 'groupsapp/Base.html' %}

{% block head %}
{% load static %}
<title>Groups</title>
<script type="text/javascript" src="{% static 'groupsapp\js\search.js' %}" defer></script>
<script type="text/javascript" src="{% static 'groupsapp\js\Group_create_deny.js' %}" defer></script>
{% endblock %}
{% block body %}
<div class="groups_bigest_page">
    <div class="big_table">
        <div class="group_table center_text">
            <p class="white_text">Groups</p>
        </div>
        <div class="center_table">
            <div class="stripes">                
                {% if request.user.is_authenticated %}
                <a href="{% url 'add_group' %}" class="add_group_but">
                    <img class="img_ref" src='https://i.ibb.co/9yff0fL/plus.png'></img>
                </a>
                {% else %}
                <button class="add_group_but" style="background-color: white;" id = "deny">
                    <img class="img_ref" src='https://i.ibb.co/9yff0fL/plus.png'></img>
                </button>
                {% endif %}
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <button class="name_text button_stripes">Name</button>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <button class="name_text button_stripes">Members</button>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <button class="name_text button_stripes">Meeting Date</button>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <button class="name_text button_stripes">Status</button>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <div id="search_div" class="div_search_groups">
                    <img id="img_search" class="img_search_groups"
                         src="https://cdn-icons-png.flaticon.com/128/3917/3917132.png"></img>
                </div>
            </div>
            {% for i in data %}
            <div class="stripes">
                <p style="font-size: 25px; margin-left: 25px; margin-right: 13px;" > {{ forloop.counter }}
                </p>
                    <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <div class="name_text">
                    {% if i.name|length > 20 %}
                    {{ i.name|slice:"0:15" }}...
                    {% else %}
                    {{ i.name|slice:"0:20" }}
                    {%endif%}
                </div>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <div class="name_text">{{ i.countOfMembers }}</div>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <div class="name_text">{{ i.meeting_Date.day }}.{{ i.meeting_Date.month }}.{{ i.meeting_Date.year }}
                </div>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                <div class="name_text">
                    {% if i.password %}
                    Closed
                    {% else %}
                    Opened
                    {% endif %}
                </div>
                <img class="band" src="https://cdn-icons-png.flaticon.com/512/1/1625.png"></img>
                {% if request.user.is_authenticated %}
                <a class="a_join">
                    {% if i.password %}
                    <a class="join_groups_but pass_groups_but" href="{{ i.get_absolute_url }}">Pass</a>
                    {%else%}
                    <a class="join_groups_but" href="{{ i.get_absolute_url }}">View</a>
                    {% endif %}
                </a>    
                {%else%}
                <a class="a_join">
                    {% if i.password %}
                        <button style="padding-left: 15px; padding-top: 0px;" class="join_groups_but pass_groups_but" id = "deny2">Pass</a>
                    {%else%}
                        <button style="padding-left: 15px; padding-top: 0px;" class="join_groups_but" id = "deny3">View</a>
                    {% endif %}
                </a> 
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}