{% extends 'groupsapp/Base.html' %}

{% block head %}
{% load static %}
<title>{{request.user.username}}</title>
<link rel="stylesheet" href="{% static 'groupsapp/css/profile.css' %}"/>
<script type="text/javascript" src="{% static 'groupsapp\js\profile.js' %}" defer></script>
<script type="text/javascript" src="{% static 'groupsapp\js\edit_profile.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="profile_main_block">
    <div class="profile_black_block">
        <a id="profile_button" class="profile_button">Profile</a>
        <a style="transform: translate(-260px,82px); opacity: 50%;" id ="group_button" class="profile_button">Groups</a>
        <div class="profile_content_block" id="profile_content">
            <a class="edit_but" id="edit_but">
                <img style="height: 25px; width: 25px;" src="https://i.ibb.co/FnSDqDK/pencil.png" id="edit_img">
            </a>
            <div class="main_avatar">
                {% if request.user.is_superuser %}
                <img src="https://cdn-icons-png.flaticon.com/512/1657/1657088.png" class="crown">
                {%endif%}
                <div class="profile_avatar">
                    <img style="width: 100%; height: 150px; position: absolute; right: 0px; border-radius: 50%;" src="{{user.profile.profile_pic.url}}" alt="ОШИБКА">                    
                </div>
                   <div class="profile_online"></div>
                   <div class="profile_ico">
                       <img class="mess_img" src="https://i.ibb.co/wgjx240/envelope.png">
                   </div>
            </div>
            <div class="profile_name" id = 'name_div'>
                {{request.user.username}}
            </div>
            <div class="profile_info">
                <p class="profile_info_text"><b>Age:</b> </p>
                <p class="profile_info_text"><b>Telefone number:</b></p>
                <p class="profile_info_text"><b style="font-size: 16px;">Interests:</b> </p>
                <p class="profile_info_text"><b>Registered sinse:</b></p>
                <p style="position: absolute; top: 122px; left: 135px;" class="profile_info_text_content">{{request.user.date_joined.day}}.{{request.user.date_joined.month}}.{{request.user.date_joined.year}}</p>
                <div style="position: absolute; left: 50px; height: 180px; top: -2px;" id="profile_values">
                    <p class="profile_info_text_content">{{user.profile.age}}</p>
                    <!-- информация о пользователе -->
                    <p style="position: absolute; top: 40px; left: 88px;" class="profile_info_text_content">{%if user.profile.telefone_num %}
                        {{user.profile.telefone_num}}
                        {% else %}
                        Unknown
                        {% endif %}
                    </p> 
                    <p style="position: absolute; top: 82px; left: 35px; width: 500px;" class="profile_info_text_content">{{user.profile.interests}}</p>
                </div>  
                <!-- инпуты для изменения  -->
                <div style="position: absolute;" id="inputs">                    
                    <input style="left: 35px; top: 7px;" class="profile_info_input" type="text">
                    <input style="left: 125px; top: 48px;" class="profile_info_input" type="text">
                    <input style="left: 73px; top: 89px;" class="profile_info_input" type="text">
                    <input style="left: 180px; top: -60px; width: 300px;" class="profile_info_input" type="text">
                </div> 
            </div>
            <div class="teg">@{{request.user.username}}</div>
            <div class="profile_group_back">
            <div class="profile_group_message">
                Ваши группы
            </div>
                <div class ="profile_group_content_block">
                    {% for group in request.user.MyGroups.all %}
                    a
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="profile_content_block" id="group_content">
            <div class="group_content">
                <div class="your_group_text">Your Groups</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}