*, *::before, *::after {
  box-sizing: border-box
}

a{
  cursor: pointer;
}

body{
  font-family: 'Inter', sans-serif;
}

button{
  cursor: pointer;
}
  
a{
  text-decoration: none;
  color: black;
}

.center_text{
  display:flex;
  justify-content: center;
  align-items: center;
}

.groups_bigest_page{
  height: 100%;
  width: 101.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#35167e;
  margin: 0 auto;
  transform: translate(-10px,60px);
}

.top_line {
    height: 70px;
    width: 100.1%;
    position: absolute;
    background-color: #373737;
    border-style : solid;
    border-color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transform: translate(-10px,-10px);
}

.profile_user{
  justify-self: flex-end;
  padding: 5px;
  position:absolute;
  margin-left: auto;
  top: 16px;
  right: 70px;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: white;
  color: #000;
  border-radius: 10px;
}

.profile_user:hover{
  color: white;
  background-color: black;
}

.profile_ico{
  position: absolute;
  margin-left: 1180px;
}

.log_out_ico{
  margin-left: 265px;
  margin-right: 20px;
}

.center_table{
  width: 950px;
  height: 880px;
  background-color: rgb(118, 118, 118);
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

.stripes{
  height: 50px;
  width: 910px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
}

.big_table{
  height: 92%;
  width: 84%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.group_table{
  margin-top: 3%;
  margin-bottom: 3%;
  height: 47px;
  width: 139px;
  background-color: #373737;
  border-radius: 20px;
  font-size: 27px;
}

.white_text{
  color: white;
  margin: 0%;
}

.top_text{
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 25px;
}

.log_button {
    height: 40px;
    width: 60px;
    background-color: #FCFCFC;
    border-radius: 10px;
    border:none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    margin-left: 125px;
}

.log_button:hover {
  height: 40px;
  width: 60px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border:none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  margin-left: 125px;
}

.reg_button {
    height: 40px;
    width: 110px;
    background-color: #ffffff;
    border-radius: 10px;
    border:none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.reg_button:hover {
  height: 40px;
  width: 110px;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border:none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.points {
    height: 30px;
    width: 30px;
    background-color: hwb(0 22% 78%);
    border-radius: 50%;
    border: none;
    font-size: 25px;
    color: white;
    margin-left: 3%;
    margin-right: 270px;
}

img{
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.img_ref{
  height: 25px;
  width: 25px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 8px;
}

.div_search_groups{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: 25px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: inherit;
}

.search_input_group{
  margin-left: 20px;
  width: 193px;
  border:none;
  border-bottom: 1.5px solid black;
}

.img_search_groups{
  align-self: flex-end;
  margin-left: auto;
  cursor: pointer;
  height: 20px;
  width: 20px;
  transform: translate(-8px,-8px);
}

.band{
  height: 25px;
  width: 25px;
}

  .name_text{
    width: 100px;
    text-align: center;
  }

  .join_groups_but{
    margin-right: 10px;
    padding-top: 2.5px;
    text-align: center;
    height: 30px;
    width: 70px;
    border: none;
    background-color: #17d624;
    border-radius: 10px;
    border: 2px solid black;
  }

  .a_join{
    margin-right: 10px;
    margin-left: auto;
  }

  .pass_groups_but{
    background-color: #e80707;
  }

  .button_stripes{
    height: 60%;
    background-color: white;
    border-color: #000;
    border-radius: 10px;
  }

  .button_stripes:hover{
    background-color: black;
    color: white;
  }

.log_popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  top:0;
  left: 0;
}

.log_popup:target{
  opacity: 1;
  visibility: visible;
}

.log_body{
  height: 40%;
  width: 25%;
  background-color: #000;
  border-radius: 3%;
  border:2px solid white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reg_body{
  height: 50%;
}

.log_close{
  position:absolute;
  right: 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.log_table{
width: 30%;
height: 13%;
border-radius: 15px;
background-color: #373737;
color: white;
font-size: 20px;
margin-top: 20px;
margin-bottom: 30px;
display: flex;
align-items: center;
justify-content: center;
}

.reg_table{
  width: 40%;
  height: 10%;
}

.log_stripes{
  background-color: #373737;
  border-radius: 20px;
  width: 280px;
  height: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-color: white;
  
}

.log_input{
  margin-left: 10px;
  width: 194px;
  background-color: #373737;
  color: white;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.password{
  margin-left: 10px;
  width: 160px;
  background-color: #373737;
  color: white;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.accept_button{
  background-color: #35167e;
  width: 30%;
  height: 20%;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border:white;
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.reg_accept_button{
  height: 13%;
}

.accept_button:hover{
  background-color: #35167e;
}

.a_prikol{
  height: 100px;
  width: 100px;
  background-color: #35167e;
}

.main_page_back{
  overflow: hidden;
  height: 600px;
  width: 101.3%;
  background-color:#000;
  margin: 0 auto;
  display: flex; 
  transform: translate(-10px,60px);
}

.main_page_midle_circle{
  height: 250px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  transform: translate(500px,-150px);
}

.main_page_top_circle{
  height: 400px;
  width: 400px;
  background-color: #35167E;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50px,-120px);
  z-index: 0;
}

.main_page_bottom_circle{
  height: 400px;
  width: 400px;
  background-color: #35167E;
  border-radius: 50%;
  position: absolute;
  transform: translate(900px,250px);
}

.lightning{
  height: 100%;
  width: 99%;
}

.market_back{
  background-color: #35167E;
}

.market_burger_button{
  margin: 20px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.market_center_table{
  display: block;
}

.img_market_burger{
  transform: translate(-13px,2px);
}

.button_search_market{
  height: 40px;
  border-radius: 10px;
  position: absolute;
  transform: translate(805px,20 px);
}

.market_tables{
  height: 300px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-items: end;
  margin-left: 50px;
}

.button_minion{
  cursor: pointer;
  height: 200px;
  width: 200px;
  background-color: #0d00ff;
  transform: translate(600px,200px);
}

.minion{
  position: absolute;
  height: 150px;
  width: 150px;
  z-index: 1;
}

.minion_back{
  height: 1000px;
  width: 100%;
  background-color: #fff01f;
  overflow: hidden;
}

.register_gif{
  width: 100%;
  height: 115.5%;
  position:absolute;
  margin: none;
  align-self: start;
  transform: translate(-18px,-100px);
}

.form{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 30px;
  transform: translate(50px,-10px);
}

.register_block{
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #171717;
  position: absolute;
  transform: translate(470px,100px);
}

.form-label{
  color: white;
  width: 200px;
  margin: none;
  position: absolute;
  transform: translate(0px,-20px);
}

.form-input{
  height: 15px;
  width: 200px;
  margin: none;
  position: absolute;
  transform: translate(0px,-20px);
}

.reg_title{
  align-self: center;
  color: white;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 10px;
}

.reg_but{
  border: 1px solid white;
  background-color: #171717;
  color: white;
  font-size: 15px;
  margin-left: 70px;
  border-radius: 5px;
}

.reg_but:hover{
  color: #000;
  background-color: white;
  border: 1px solid black;
}

.back_but{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  cursor: pointer;
  background-color: white;
}

.home_img{
  transform: translate(-3px,5px);
}

.form-error{
  transform: translate(-60px,-10px);
  color: white;
}

.log_block{
  transform: translate(480px,140px);
}

.log_title{
  margin-left: 123px;
}

.add_group_but{
  align-items: center;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
}